{{#if addNewQuestion}}
  <div class="row">
    <div class="col-md-5">
      <h3>New Question</h3>

      <form>
        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="subject">Subject</label>
          {{input type="select" value=subject id="subject"}}
        </div>

        <div class="form-group">
          <label for="body">Question</label>
          {{textarea col="200" row="20" value=body id="body"}}
        </div>
      </form>
      <button {{action 'saveQuestion'}}>Submit</button>
      <button {{action 'questionFormHide'}}>Cancel</button>
    </div>
  </div>
{{else}}
  <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}
