{{#if isBodyShowing}}
  {{#link-to 'question' question.id}}
    <li><h4>{{question.title}}</h4> <h5>by {{question.author}} in {{question.subject}}</h5></li>
  {{/link-to}}
    <p {{action 'bodyHide'}}>{{question.body}}</p>
{{else}}
    <li {{action 'bodyShow'}}><h4>{{question.title}}</h4> <h5>by   {{question.author}} in {{question.subject}}</h5></li>
{{/if}}
