<div class="container">
  <h4>Written by {{question.author}}.</h4>

  <h5>Question Title: {{question.title}}</h5>
  <h5>subject: {{question.subject}}.</h5>
  <p>{{question.body}}</p>

  <button {{action 'delete' question}}>Delete</button>
<br>
<hr>
<ul>
  {{#each question.answer as |answer|}}
  <li>{{answer.body}}</li>
  <hr>
  {{/each}}
</ul>

  {{new-answer saveAnswer="saveAnswer"}}

</div>
